.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.info {
  font-size: 1.25rem;
}

.characters {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
}
